# nextjs
apps/nextjs-app/.next
apps/nextjs-app/public
apps/nextjs-app/node_modules

# react-native
apps/mobile-app/.bundle
apps/mobile-app/android
apps/mobile-app/ios
apps/mobile-app/vendor
apps/mobile-app/node_modules

# nodejs
node_modules